.box {
  height: 561px;
  width: 650px;
  border: 2px solid black;
  left: -1vw;
  position: relative;
  top: 6.45vw;
  border-radius: 4px;
}

.box Form {
  height: 31vw;
  width: 5vw;
  margin-left: 3.2vw;
  margin-right: 3.2vw;
  margin-top: 2vw;
  line-height: 1.5vw;
}

.box Form label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7vw;
  font-weight: 500;
}

.box Form input {
  border: 2px solid black;
  height: 3.5vw;
  width: 41.3vw;
}
.box Form .textArea {
  border: 2px solid black;
  max-width: 41.3vw;
  max-height: 20vw;
}

.box Form button {
  display: flex;
  position: relative;
  margin-left: 13.9vw;
  bottom: 0.3vw;
  width: 10vw;
  height: 2.9vw;
  align-items: bottom;
  justify-content: center;
  background-color: #678A74;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.7vw;
  color: black;
  font-weight: 500;
  border: 2px solid black;
}