.map {
	width: 650px;
	height: 561px;
	margin-left: 2.5vw;
	margin-top: 1vw;
	margin-bottom: 5vw;
	background-image: url('../../assets/Mapa.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 1.5px solid black;
	border-radius: 4px;
}
