.titulo {
  background-color: #678a7480;
  height: 98px;
  position: relative;
  width: 103%;
}

.titulo .textWrapper {
  color: #000000;
  font-family: "Kaushan Script", cursive;
  font-size: 64px;
  font-weight: 400;
  height: 93px;
  left: 36vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}
/*------------- Fotos -----------*/
.recuadroDeFotos {
  background-color: #ffbaba;
  height: 983px;
  position: relative;
  width: 103%;
}

.recuadroDeFotos .rectangle {
  background-image: url('../../assets/p6.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 180px;
  left: 52vw;
  position: absolute;
  top: 290px;
  width: 190px;
}

.recuadroDeFotos .div {
  background-image: url('../../assets/p15.jpg');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  height: 180px;
  left: 68.82vw;
  position: absolute;
  top: 291px;
  width: 190px;
}

.recuadroDeFotos .rectangle2 {
  background-image: url('../../assets/p9.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 180px;
  left: 85.7vw;
  position: absolute;
  top: 290px;
  width: 190px;
}

.recuadroDeFotos .rectangle3 {
  background-image: url('../../assets/p13.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 180px;
  left: 2.2vw;
  position: absolute;
  top: 291px;
  width: 190px;
}

.recuadroDeFotos .rectangle4 {
  background-image: url('../../assets/p8.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 180px;
  left: 18.65vw;
  position: absolute;
  top: 291px;
  width: 190px;
}

.recuadroDeFotos .rectangle5 {
  background-image: url('../../assets/p14.jpg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 70%;
  height: 180px;
  left: 35.16vw;
  position: absolute;
  top: 290px;
  width: 190px;
}

.recuadroDeFotos .rectangle6 {
  background-image: url('../../assets/p16.jpg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 70%;
  height: 180px;
  left: 85.7vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .rectangle7 {
  background-image: url('../../assets/p10.jpg');
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  left: 2.2vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .rectangle8 {
  background-image: url('../../assets/50.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 2.2vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle9 {
  background-image: url('../../assets/31.jpg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  height: 180px;
  left: 18.65vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle10 {
  background-image: url('../../assets/30.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 18.65vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle11 {
  background-image: url('../../assets/46.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 35.16vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle12 {
  background-image: url('../../assets/51.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 35.16vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle13 {
  background-image: url('../../assets/43.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 52.2vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle14 {
  background-image: url('../../assets/32.jpg');
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  height: 180px;
  left: 52.2vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle15 {
  background-image: url('../../assets/38.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 68.82vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle16 {
  background-image: url('../../assets/47.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 68.82vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle17 {
  background-image: url('../../assets/35.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 85.7vw;
  position: absolute;
  top: 583px;
  width: 190px;
}

.recuadroDeFotos .rectangle18 {
  background-image: url('../../assets/27.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  left: 85.7vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle19 {
  background-image: url('../../assets/55.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 180px;
  left: 2.2vw;
  position: absolute;
  top: 783px;
  width: 190px;
}

.recuadroDeFotos .rectangle20 {
  background-image: url('../../assets/p11.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 180px;
  left: 35.15vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .rectangle21 {
  background-image: url('../../assets/p5.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 180px;
  left: 52vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .rectangle22 {
  background-image: url('../../assets/p12.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  left: 68.85vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .rectangle23 {
  background-image: url('../../assets/p4.jpg');
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  height: 180px;
  left: 18.7vw;
  position: absolute;
  top: 92px;
  width: 190px;
}

.recuadroDeFotos .textWrapper {
  color: #000000;
  font-family: "Kaushan Script", cursive;
  font-size: 48px;
  font-weight: 400;
  height: 62px;
  left: 35vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 440px;
}

.recuadroDeFotos .textWrapper2 {
  color: #000000;
  font-family: "Kaushan Script", cursive;
  font-size: 48px;
  font-weight: 400;
  height: 60px;
  left: 35vw;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 500px;
  width: 440px;
}

@media (max-width: 1300px) {
  .titulo {
    height: 7vw;
    position: relative;
    width: 103%;
  }

  .titulo .textWrapper {
    font-size: 4.5vw;
    font-weight: 400;
    height: 93px;
    left: 36vw;
  }

  .recuadroDeFotos .textWrapper {
    font-size: 4.3vw;
    height: 62px;
    left: 35vw;
    position: absolute;
    top: 0.3vw;
    width: 440px;
  }

  .recuadroDeFotos .textWrapper2 {
    font-size: 4vw;
    height: 60px;
    left: 35vw;
    position: absolute;
    top: 38.5vw;
    width: 440px;
  }

  .recuadroDeFotos .rectangle7 {
    height: 14vw;
    left: 2.2vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle23 {
    height: 14vw;
    left: 18.7vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle20 {
    height: 14vw;
    left: 35.15vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle21 {
    height: 14vw;
    left: 52vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9;
  }

  .recuadroDeFotos .rectangle22 {
    height: 14vw;
    left: 68.85vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle6 {
    height: 14vw;
    left: 85vw;
    position: absolute;
    top: 7.25vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle3 {
    height: 14vw;
    left: 2.2vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle4 {
    height: 14vw;
    left: 18.65vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle5 {
    height: 14vw;
    left: 34.6vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle {
    height: 14vw;
    left: 52vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .div {
    height: 14vw;
    left: 68.5vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle2 {
    height: 14vw;
    left: 85.7vw;
    position: absolute;
    top: 22.5vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle8 {
    height: 14vw;
    left: 2.2vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle9 {
    height: 14vw;
    left: 18.65vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle11 {
    height: 14vw;
    left: 35.16vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle13 {
    height: 14vw;
    left: 52.2vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle15 {
    height: 14vw;
    left: 68.82vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle17 {
    height: 14vw;
    left: 85.7vw;
    position: absolute;
    top: 45.4vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle19 {
    height: 14vw;
    left: 2.2vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle10 {
    height: 14vw;
    left: 18.65vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle12 {
    height: 14vw;
    left: 35.16vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle14 {
    height: 14vw;
    left: 52.2vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle16 {
    height: 14vw;
    left: 68.82vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }

  .recuadroDeFotos .rectangle18 {
    height: 14vw;
    left: 85.7vw;
    position: absolute;
    top: 61vw;
    width: 14.9vw;
  }
}